body{
    font-family:Verdana,sans-serif;font-size:12px;line-height:1.5;padding:5px 5px;
}

.fzInput{
    border:none;border-bottom:1px solid #ccc;
}
.fzLabel{
    display:inline-block;width:140px;text-align:left
}
.fzCol{
    
}
.fzCell{
    
}

.fzButton{
    border:none;display:inline-block;outline:0;vertical-align:middle;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;color:#000!important;background-color:#ff9800!important;border-radius:32px;
}

.fzTextButton{
    color:green;
}

.fzErrMsg{
    color:red
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}